* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  display: flex;
}

/* Sidebar navigation */
#navbar {
  background-color: orangered;
  width: 190px; 
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0; 
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#navbar a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
  display: block;
  transition: background 0.3s ease;
}

#navbar a:hover {
  background-color: rgba(246, 239, 239, 0.8);
  color: orangered;
  font-weight: bold;
}

/* Main content area */
#content {
  margin-left: 250px; /* Push content to the right of the sidebar */
  padding: 20px;
  width: calc(100% - 250px);
}
